section.Introductions {
  width: 100%;
  position: relative;
  margin-top: 60px;
  .sec_containers {
  }

  .swiper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
    max-width: 80%;
    @media screen and (min-width: 1700px) {
      max-width: 61%;
    }

    @media screen and (max-width: 992px) {
      max-width: 100%;
    }
  }

  .sec_container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
  }

  .desktop_swiper {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .mobile_swiper {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}
