section.Introductions {
  width: 100%;
  position: relative;
  margin-top: 60px;
  .sec_containers {
  }

  .swiper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
    max-width: 80%;
    @media screen and (min-width: 1900px) {
      max-width: 61%;
    }

    @media screen and (max-width: 992px) {
      max-width: 100%;
    }
  }

  a {
    color: unset;
  }
  .sec_container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
    @media screen and (max-width: 992px) {
      align-items: center;
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }

  .desktop_swiper {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .mobile_swiper {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  .book_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  .book_desktop {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .book_container_desktop {
    cursor: pointer;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}
