.child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--third-color);
  width: 100%;
  height: 652px;

  @media screen and (max-width: 992px) {
    height: 230px;
  }
}
.inner,
.item {
  position: absolute;
  background-color: var(--prim-color);
}
.item {
  top: 192px;
  left: 120px;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  width: 149px;
  height: 157px;

  @media screen and (max-width: 992px) {
    width: 80px;
    height: 80px;
    top: 63px;
    left: 3px;
  }
}
.inner {
  top: 0;
  left: 405px;
  width: 100%;
  height: 652px;
  @media screen and (max-width: 992px) {
    left: unset;
    right: 0;
    width: 70%;
    height: 230px;
  }
}
.div1 {
  position: relative;
  line-height: 36px;
  font-weight: 500;
}
.flagOfSaudiArabia1938197Icon {
  width: 32px;
  position: relative;
  height: 21.3px;
  object-fit: cover;
}
.fiRsAngleSmallUpIcon {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.parent {
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  gap: var(--gap-xs);
}
.arrowDownwardIcon,
.fiRsSearchIcon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.fiRsSearchIcon {
  width: 30px;
  height: 30px;
}
.fiRsSearchWrapper,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fiRsSearchWrapper {
  width: 32px;
  height: 32px;
}
.frameGroup {
  padding: var(--padding-xs) 0;
  gap: var(--gap-5xl);
  text-align: center;
}
.b {
  position: relative;
  text-align: center !important;
}
.wrapper {
  border-radius: var(--br-xs);
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xs);
}
.container,
.fiRsAngleSmallUpParent,
.frameWrapper,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fiRsAngleSmallUpParent {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.container,
.frameWrapper {
  border-radius: var(--br-xs);
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xs);
}
.frameWrapper {
  background-color: var(--sec-color);
  border-bottom: 4px solid var(--white);
}
.container {
  filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.2) inset);
}
.frameContainer {
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--tajawal-medium-20-size);
  color: var(--white);
}
.frame,
.frameContainer,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame {
  justify-content: center;
  font-size: var(--tajawal-h2-bold-40-size);
  color: var(--sec-color);
  font-family: var(--font-andalus);
}
.frameParent {
  position: absolute;
  top: 60px;
  left: calc(50% - 600px);
  width: 1200px;
  justify-content: space-between;
  color: var(--prim-color);
}
.rectangleIcon {
  position: relative;
  // top: 224px;
  // left: 152px;
  border-radius: var(--br-xs);
  width: 660px;
  height: 368px;
  object-fit: cover;

  @media screen and (max-width: 992px) {
    // width: 117px;
    // height: 117px;
    // width: 260px;
    width: 143px;
    height: 106px;
  }
}
.b4,
.wrapper1 {
  align-self: stretch;
}
.b4 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 64px;
  @media screen and (max-width: 992px) {
    line-height: unset;
  }
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.div3 {
  max-width: 389px;
  position: relative;
  font-size: var(--tajawal-medium-24-size);
  line-height: 36px;
  font-weight: 500;
  color: var(--white);
  display: inline-block;

  @media screen and (max-width: 992px) {
    max-width: 197px;
    font-size: 12px;
    line-height: 14.4px;
  }
}
.frameParent1,
.wrapper2 {
  display: flex;
  justify-content: center;
}
.frameParent1 {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xl);
  text-align: right;
  font-size: var(--tajawal-h1-bold-48-size);

  @media screen and (max-width: 992px) {
    font-size: var(--tajawal-medium-20-size);
    line-height: unset;
    gap: var(--gap-5xs);
  }
}
.wrapper2 {
  flex-direction: row;
  align-items: center;
  font-family: var(--font-andalus);
}
.div5 {
  position: relative;
  font-size: var(--tajawal-regular-14-size);
  font-weight: 500;
  color: var(--grey);
  white-space: pre-wrap;
  text-align: center;
}
.fiRsAngleSmallUpIcon3 {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.div6 {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.fiRsAngleSmallUpContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
}
.frameChild {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--prim-color);
  box-sizing: border-box;
  height: 26px;
}
.frameParent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.frameIcon {
  width: 56px;
  position: relative;
  height: 56px;
}
.frameParent2,
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent3 {
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: justify;
  font-size: var(--tajawal-medium-20-size);
}
.frameParent2 {
  position: absolute;
  top: 3325px;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-101xl);
  box-sizing: border-box;
}
.instanceChild,
.wrapper3 {
  position: absolute;
  left: 0;
  width: 386px;

  @media screen and (max-width: 992px) {
    width: 167px;
  }
}
.instanceChild {
  top: 0;
  height: 473px;
  object-fit: cover;
  @media screen and (max-width: 992px) {
    height: 224px;
  }
}
.wrapper3 {
  bottom: 0;
  background-color: var(--prim-color);
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  @media screen and (max-width: 992px) {
    height: fit-content;
    text-align: center;
    padding: 18px 11px;
    font-size: 12px;
    font-weight: 700;

    .b {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.rectangleParent {
  width: 386px;
  position: relative;
  box-shadow: var(--drop-shadow);
  border-radius: var(--br-xs);
  height: 473px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  color: unset;
  @media screen and (max-width: 992px) {
    width: 167px;
    height: 224px;
  }
}
.instanceParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-2xl);
  flex-wrap: wrap;
  @media screen and (max-width: 450px) {
    gap: 9px;
  }
}
.frameParent5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
  text-align: right;
  font-size: var(--tajawal-medium-20-size);
  color: var(--white);

  margin-bottom: 44px;

  @media screen and (max-width: 992px) {
    margin-bottom: 24px;
    margin-top: 100px;
  }

  @media screen and (max-width: 450px) {
    // margin-top: 25px;
  }
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--screen-color);
  // height: 3429px;
  overflow: hidden;
  text-align: left;
  font-size: var(--tajawal-medium-24-size);
  color: var(--sec-color);
  font-family: var(--tajawal-medium-36);
}

// ###
.sec_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 120px;
  flex-direction: row-reverse;
  @media screen and (max-width: 992px) {
    gap: 14px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .img_container {
    img {
      border: 6px solid var(--sec-color);
      @media screen and (max-width: 992px) {
        border: 2px solid var(--sec-color);
      }
    }
  }

  .text_container {
  }
}

section.div[dir="ltr"] {
  .child {
    left: unset;
    right: 0;
  }

  .item {
    left: unset;
    right: 120px;

    @media screen and (max-width: 992px) {
      left: unset;
      right: 3px;
    }
  }

  .inner {
    left: unset;

    right: 465px;

    @media screen and (max-width: 992px) {
      right: 165px;
    }
  }

  .sec_container {
    .frameParent1 {
      text-align: left;

      .div3 {
        div {
          p {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width: 992px) {
              -webkit-line-clamp: 2;
            }
          }
        }
      }
    }
  }

  .frameParent5 * {
    text-align: center;
  }
}
