.child {
  position: absolute;
  top: 874px;
  left: 861px;
  filter: blur(120px);
  background: linear-gradient(
    223.55deg,
    rgba(255, 212, 147, 0.82),
    rgba(255, 241, 216, 0.31) 82.82%
  );
  width: 579px;
  height: 637px;
}
.inner,
.item {
  position: absolute;
  left: 0;
  width: 1440px;
}
.item {
  top: 4684px;
  filter: blur(120px);
  background: linear-gradient(
    223.55deg,
    rgba(255, 212, 147, 0.82),
    rgba(255, 241, 216, 0.31) 82.82%
  );
  height: 120px;
}
.inner {
  top: 0;
  background-color: var(--third-color);
  height: 874px;
  @media screen and (max-width: 992px) {
    height: 327px;
  }
}
.child1,
.rectangleDiv {
  position: absolute;
  background-color: var(--prim-color);
}
.rectangleDiv {
  top: -20px;
  left: 0px;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  width: 149px;
  height: 157px;

  @media screen and (max-width: 992px) {
    width: 40px;
    height: 40px;
    border-radius: 6.4px 0px 0px 6.4px;
    left: 16px;
    top: 20px;
    left: 5px;
  }
}

.child1 {
  top: 0;
  left: 405px;
  width: 100%;
  height: 874px;
  @media screen and (max-width: 992px) {
    left: 140px;
    height: 327px;
  }
}
.div1 {
  position: relative;
  line-height: 36px;
  font-weight: 500;
}
.flagOfSaudiArabia1938197Icon {
  width: 32px;
  position: relative;
  height: 21.3px;
  object-fit: cover;
}
.fiRsAngleSmallUpIcon {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.parent {
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  gap: var(--gap-xs);
}
.arrowDownwardIcon,
.fiRsSearchIcon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.fiRsSearchIcon {
  width: 30px;
  height: 30px;
}
.fiRsSearchWrapper,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fiRsSearchWrapper {
  width: 32px;
  height: 32px;
}
.frameGroup {
  padding: var(--padding-xs) 0;
  gap: var(--gap-5xl);
  text-align: center;
}
.b {
  position: relative;
  text-align: right;
  width: 100%;
  @media screen and (max-width: 992px) {
    font-size: 20px;
  }
}
.wrapper {
  border-radius: var(--br-xs);
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xs);
}
.container,
.fiRsAngleSmallUpParent,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fiRsAngleSmallUpParent {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.container {
  box-shadow: var(--inner-shadow);
  border-radius: var(--br-xs);
  background-color: var(--sec-color);
  border-bottom: 4px solid var(--white);
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xs);
}
.frameContainer {
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--tajawal-medium-20-size);
  color: var(--white);
}

.hero_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.hero_container_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  flex-direction: row-reverse;
  gap: 16px;
  @media screen and (min-width: 992px) {
    display: none;
  }
}
.frame,
.frameContainer,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.frame {
  justify-content: center;
  font-size: var(--tajawal-h2-bold-40-size);
  color: var(--sec-color);
  font-family: var(--font-andalus);
}
.frameParent {
  /* position: absolute;
  top: 60px;
  left: calc(50% - 600px); */
  justify-content: space-between;
  text-align: left;
}
.rectangleIcon {
  position: relative;
  /* top: 268px; */
  /* left: 170px; */
  border-radius: var(--br-xs);
  width: 645px;
  height: 537px;
  object-fit: cover;
  @media screen and (max-width: 992px) {
    width: 140.52px;
    height: 116.99px;
  }
}
.b4,
.wrapper1 {
  align-self: stretch;
}
.b4 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 64px;
  @media screen and (max-width: 992px) {
    line-height: unset;
  }
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--tajawal-h1-bold-48-size);
  color: var(--sec-color);

  @media screen and (max-width: 992px) {
    font-size: var(--tajawal-h1-bold-16-size);
  }
}
.div3 {
  width: 445px;
  position: relative;
  line-height: 32px;
  font-weight: 500;
  text-align: justify;
  display: inline-block;

  @media screen and (max-width: 992px) {
    font-size: 14px;
    line-height: unset;
    text-align: right;
    width: 100%;
  }
}
.frameChild {
  box-shadow: var(--inner-shadow);
  border-radius: var(--br-xs);
  background-color: var(--sec-color);
  width: 100%;
  height: 100%;
}
.b5,
.frameItem {
  position: absolute;
  top: 24px;
  left: 92px;
}
.b5 {
  @media screen and (max-width: 992px) {
    font-size: var(--tajawal-xsmall-5-size);
  }
}
.frameItem {
  top: 0;
  left: 0;
  border-radius: var(--br-xss);
  background-color: var(--white);
  width: 64px;
  height: 64px;
  @media screen and (max-width: 992px) {
    width: 13px;
    height: 13px;
  }
}
.arrowSmIcon {
  position: absolute;
  height: 43.75%;
  width: 50%;
  top: 28.13%;
  right: 25%;
  bottom: 28.13%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.rectangleGroup {
  position: absolute;
  top: 4px;
  left: 4px;
  box-shadow: var(--inner-shadow);
  width: 64px;
  height: 64px;
}
.rectangleParent {
  width: 250px;
  position: relative;
  height: 72px;
  text-align: left;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: var(--br-xss);
  background-color: var(--sec-color);
  p {
    color: var(--white);
    font-size: var(--tajawal-xsmall-5-size);
    margin: 0;
  }
  .icon_container {
    background-color: var(--white);
    border-radius: var(--br-xss);
    width: 13px;
    height: 13px;
    display: flex;
    svg {
      margin: auto;
      width: 5px;
      height: 5px;
      color: var(--sec-color);
    }
  }
}
.frameParent1 {
  position: relative;
  // top: 373px;
  // left: 875px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--tajawal-medium-20-size);
  color: var(--white);
  @media screen and (max-width: 992px) {
    align-items: flex-start;
  }
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white);
  width: 226px;
  height: 72px;
}
.b6,
.frameChild1 {
  position: absolute;
  top: 24px;
  left: 100px;
}
.frameChild1 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--sec-color);
  width: 84px;
  height: 84px;
}
.arrowIcon {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 24.17%;
  right: 25%;
  bottom: 25.83%;
  left: 25%;
  border-radius: 24px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.rectangleParent1 {
  position: absolute;
  top: -6px;
  left: 0;
  box-shadow: var(--inner-shadow);
  width: 84px;
  height: 84px;
}
.rectangleContainer {
  position: absolute;
  top: 769px;
  left: 120px;
  width: 226px;
  height: 72px;
  text-align: left;
  font-size: var(--tajawal-medium-20-size);
}
.frameChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 32px;
  background-color: var(--white);
  width: 32px;
  height: 32px;
}
.arrowSmIcon1 {
  position: absolute;
  height: 28.13%;
  width: 28.13%;
  top: 34.38%;
  right: 37.5%;
  bottom: 37.5%;
  left: 34.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.rectangleParent0,
.rectangleParent2 {
  position: absolute;
  // top: 942px;
  // left: 621px;
  top: 20%;
  left: -10%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.rectangleParent0 {
  right: -10%;
  transform: scale(-1);
}
.frameChild3,
.groupChild {
  border-radius: var(--br-xs);
  object-fit: cover;
}
.frameChild3 {
  width: 180px;
  position: relative;
  height: 120px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
}

.groupChild,
.groupDiv,
.groupItem {
  width: 275px;
  height: 177px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 992px) {
    width: 100px;
    height: 100px;
  }
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 8px solid var(--sec-color);
  box-sizing: border-box;
}

.inner1,
.rectangleParent3 {
  display: flex;
  flex-direction: row;
}
.rectangleParent3 {
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-9xs);
}
.inner1 {
  // position: absolute;
  // top: 847px;
  // left: 677px;
  align-items: center;
  justify-content: flex-start;
}
.span {
  color: var(--sec-color);
}
.b7,
.div4 {
  width: 457px;
  position: relative;
  display: inline-block;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.b7 {
  letter-spacing: 0.04em;
  line-height: 64px;
  @media screen and (max-width: 992px) {
    line-height: unset;
  }
}
.div4 {
  font-size: var(--tajawal-medium-24-size);
  line-height: 36px;
  font-weight: 500;
  color: var(--grey);
  text-align: justify;
  @media screen and (max-width: 992px) {
    font-size: var(--tajawal-regular-14-size);
    line-height: unset;
    direction: rtl;
  }
}
.group {
  gap: var(--gap-5xl);
  @media screen and (max-width: 992px) {
    gap: var(--gap-xs);
  }
}
.frameWrapper1,
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.b8 {
  position: relative;
  line-height: 46px;
}
.frameParent2,
.wrapper2 {
  display: flex;
  justify-content: flex-start;
}
.wrapper2 {
  box-shadow: var(--inner-shadow);
  border-radius: var(--br-xs);
  background-color: var(--sec-color);
  height: 72px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--tajawal-h3-bold-32-size);
  color: var(--white);

  @media screen and (max-width: 992px) {
    padding: var(--padding-xs);
    font-size: var(--tajawal-regular-14-size);
    height: 44px;
  }
}
.frameParent2 {
  // position: absolute;
  // top: 1144px;
  // left: 864px;
  width: 456px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--tajawal-h1-bold-48-size);
  @media screen and (max-width: 992px) {
    width: 100%;
    font-size: var(--tajawal-medium-20-size);
    gap: var(--gap-xs);
  }
}
.frameIcon {
  width: 32px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 32px;
}
.parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  @media screen and (max-width: 992px) {
    flex-direction: row-reverse;
  }
}
.p {
  margin: 0;
  @media screen and (max-width: 992px) {
    line-height: 24px;
  }
}
.div5 {
  align-self: stretch;
  position: relative;
  font-size: var(--tajawal-medium-20-size);
  line-height: 32px;
  font-weight: 500;
  color: var(--white);
  display: inline-block;
  height: 123px;
  flex-shrink: 0;
  @media screen and (max-width: 992px) {
    height: auto;
    font-size: var(--tajawal-h1-bold-16-size);
  }
}
.frameParent4 {
  width: 340px;
  border-radius: var(--br-xs);
  background-color: var(--prim-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.div6 {
  align-self: stretch;
  position: relative;
  font-size: var(--tajawal-medium-20-size);
  line-height: 32px;
  font-weight: 500;
  color: var(--white);
}
.frameParent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: justify;
  color: var(--sec-color);
}
.parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.b12 {
  width: 195px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.frameParent6,
.parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.frameParent6 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: justify;
  color: var(--sec-color);
  margin-top: 54px;
}
.b13,
.child2 {
  position: absolute;
}
.b13 {
  top: 0;
  left: calc(50% - 585px);
  font-size: 120px;
  letter-spacing: 0.04em;
  line-height: 64px;
  color: var(--sec-color);
  opacity: 0.05;
  @media screen and (max-width: 992px) {
    font-size: 34px;
    left: calc(50% - 182px);
  }
}
.child2 {
  width: 170px;
  height: 169px;
  position: relative;
  object-fit: contain;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.b14 {
  width: 393px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 64px;
  display: inline-block;
  @media screen and (max-width: 992px) {
    line-height: unset;
  }
}
.wrapper3 {
  top: 3094px;
  left: 927px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--tajawal-h1-bold-48-size);
  @media screen and (max-width: 992px) {
    font-size: 32px;
  }
}
.child3 {
  position: absolute;
}
.div9 {
  margin-top: 24px;
  font-size: var(--tajawal-medium-36-size);
  line-height: 48px;
  font-weight: 500;
  color: var(--grey);
  text-align: justify;
  display: inline-block;
  width: 100%;
  display: flex;
  @media screen and (max-width: 992px) {
    line-height: unset;
    margin-top: 12px;
  }

  p {
    margin-right: auto;
    width: 928px;
    @media screen and (max-width: 992px) {
      width: 100%;
      font-size: 16px;
      line-height: unset;
    }
  }
}
.child3 {
  bottom: 0;
  left: 507px;
  filter: blur(120px);
  background: linear-gradient(
    223.55deg,
    rgba(255, 212, 147, 0.82),
    rgba(255, 241, 216, 0.31) 82.82%
  );
  width: 426px;
  height: 537px;
}
.arrowIcon1,
.frameChild8 {
  width: 60px;
  position: relative;
  border-radius: var(--br-lg);
  height: 60px;
  object-fit: contain;
}
.frameChild8 {
  width: 285px;
  border-radius: var(--br-xs);
  height: 380px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  @media screen and (max-width: 992px) {
    width: 120px;
    height: 180px;
  }
}
.instanceChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 386px;
  height: 477px;
  object-fit: cover;
  @media screen and (max-width: 992px) {
    width: 100%;
    height: 100%;
  }
}
.rectangleParent4,
.wrapper4 {
  width: 386px;
  box-sizing: border-box;
}
.wrapper4 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--prim-color);
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  @media screen and (max-width: 992px) {
    width: 100%;
    height: 50px;
    .b {
      text-align: center;
      font-size: 12px;
    }
  }
  .b {
    text-align: center;
  }
}
.rectangleParent4 {
  position: relative;
  border-radius: var(--br-xs);
  border: 4px solid var(--sec-color);
  height: 477px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: -51px;

  @media screen and (max-width: 992px) {
    height: 224px;
    width: 159px;
    margin-right: -20px;
  }
}
.instanceParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.arrowIcon2 {
  width: 60px;
  position: relative;
  border-radius: var(--br-lg);
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.arrowParent {
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 42px;
  font-size: var(--tajawal-medium-20-size);
  color: var(--white);
}
.frameChild10,
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameChild10 {
  top: 180px;
}
.b16,
.div10 {
  position: relative;
}
.b16 {
  width: 675px;
  letter-spacing: 0.04em;
  line-height: 64px;
  display: inline-block;
}
.div10 {
  align-self: stretch;
  font-size: var(--tajawal-medium-24-size);
  line-height: 36px;
  font-weight: 500;
  max-width: 675px;
}
.parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.wrapper5 {
  border-radius: var(--br-xs);
  background-color: var(--sec-color);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--tajawal-h3-bold-32-size);
}
.frameParent9 {
  // position: absolute;
  // top: 62px;
  // left: 645px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-13xl);
}
.frameChild11 {
  position: absolute;
  top: -168px;
  left: 0;
  width: 100%;
  height: 100%;
}
.ffef10c793a72c5f85a27fa3d17f75 {
  position: absolute;
  top: 24px;
  left: 0;
  border-radius: 11.98px;
  background-color: var(--sec-color);
  width: 331.5px;
  height: 440.6px;
}
.ffef10c793a72c5f85a27fa3d17f75Icon {
  position: absolute;
  top: 31.8px;
  left: 31.4px;
  border-radius: 12.35px;
  width: 341.8px;
  height: 442.5px;
  object-fit: cover;
}
.ffef10c793a72c5f85a27fa3d17f75Parent,
.frame1 {
  position: relative;
  width: 373.2px;
  height: 474.3px;
}
.frame1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  background-color: var(--prim-color);
  width: 100%;
  // height: 540px;
  overflow: hidden;
  font-size: var(--tajawal-h1-bold-48-size);
  color: var(--white);
}
.wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--font-andalus);
}
.div12 {
  position: relative;
  font-size: var(--tajawal-regular-14-size);
  font-weight: 500;
  color: var(--grey);
  white-space: pre-wrap;
  text-align: center;
}
.fiRsAngleSmallUpIcon3 {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.div13 {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.fiRsAngleSmallUpContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
}
.lineDiv {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--prim-color);
  box-sizing: border-box;
  height: 26px;
}
.frameParent12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.frameChild15 {
  width: 56px;
  position: relative;
  height: 56px;
}
.frameParent10,
.frameParent11 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent11 {
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: justify;
  font-size: var(--tajawal-medium-20-size);
}
.frameParent10 {
  background-color: var(--white);
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-101xl);
  box-sizing: border-box;
  text-align: left;
  color: var(--sec-color);
}
.div18 {
  position: relative;
  font-size: var(--tajawal-medium-24-size);
  line-height: 36px;
  font-weight: 500;
  color: var(--grey);
}
.parent6 {
  width: 611px;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--third-color);
  border-top: 2px solid var(--sec-color);
  border-right: 2px solid var(--sec-color);
  border-left: 2px solid var(--sec-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-5xl);
  gap: var(--gap-xs);
}
.div19 {
  width: 379px;
  position: relative;
  font-size: var(--tajawal-medium-20-size);
  line-height: 32px;
  font-weight: 500;
  color: var(--grey);
  text-align: justify;
  display: inline-block;
}
.parent7 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameChild16 {
  width: 150px;
  position: relative;
  border-radius: var(--br-xs);
  height: 150px;
  object-fit: cover;
}
.frameParent17 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xs);
  gap: var(--gap-xl);
}
.div20 {
  width: 368px;
  position: relative;
  font-size: var(--tajawal-medium-20-size);
  line-height: 32px;
  font-weight: 500;
  color: var(--grey);
  white-space: pre-wrap;
  text-align: justify;
  display: inline-block;
}
.parent8 {
  width: 374px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameParent18 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--screen-color);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xs);
  gap: var(--gap-xl);
}
.div21 {
  width: 386px;
  position: relative;
  font-size: var(--tajawal-medium-20-size);
  line-height: 32px;
  font-weight: 500;
  color: var(--grey);
  text-align: justify;
  display: inline-block;
}
.parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div22 {
  width: 386px;
  position: relative;
  font-size: var(--tajawal-medium-20-size);
  line-height: 32px;
  font-weight: 500;
  color: var(--grey);
  white-space: pre-wrap;
  text-align: justify;
  display: inline-block;
}
.frameParent16 {
  align-self: stretch;
  width: 585px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  overflow-y: scroll;
  height: 570px;
  width: 100%;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-xs) 0;
  background-color: var(--third-color);
  width: 18px;
  height: 637px;
}
.groupChild1 {
  position: absolute;
  top: calc(50% - 104.5px);
  left: calc(50% - 4px);
  border-radius: var(--br-xs);
  background-color: var(--white);
  width: 9px;
  height: 68.9px;
}
.rectangleParent5 {
  align-self: stretch;
  width: 18px;
  position: relative;
}
.frameParent14,
.frameParent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameParent15 {
  flex: 1;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  flex-direction: row;
  padding: 0 var(--padding-9xs) var(--padding-9xs) 0;
  font-size: var(--tajawal-h3-bold-32-size);
  width: 100%;
}
.frameParent14 {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 2px solid var(--sec-color);
  flex-direction: column;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.frameChild20 {
  width: 550px;
  position: relative;
  border-radius: var(--br-xs);
  height: 468px;
  object-fit: cover;
  opacity: 0.94;
  @media screen and (max-width: 992px) {
    width: 100%;
    height: 280px;
  }
}
.div23 {
  width: 471px;
  line-height: 36px;
  font-weight: 500;
  color: var(--grey);
  text-align: justify;
  display: inline-block;
}
.b24,
.div23 {
  position: relative;
  font-size: var(--tajawal-medium-24-size);
  @media screen and (max-width: 992px) {
    font-size: var(--tajawal-regular-14-size);
  }
}
.frameParent13,
.frameParent21,
.rectangleParent6 {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  @media screen and (max-width: 992px) {
    width: 100%;
    gap: var(--gap-xs);
  }
}
.frameParent13,
.rectangleParent6 {
  align-items: flex-start;
  gap: var(--gap-13xl);
  @media screen and (max-width: 992px) {
    gap: var(--gap-5xl);
  }
}
.rectangleParent6 {
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.frameParent13 {
  // position: absolute;
  // top: 2126px;
  // left: calc(50% - 600px);
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row-reverse;
  padding: var(--padding-xs) 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--tajawal-h2-bold-40-size);
  @media screen and (max-width: 992px) {
    margin-top: 24px;
    padding-top: 0;
    font-size: var(--tajawal-h1-bold-16-size);
  }
}
// .div24,
.groupChild2 {
  position: absolute;
  top: 0;
  left: 0;
}
.groupChild2 {
  top: 13.5px;
  left: -0.5px;
  background-color: var(--prim-color);
  border-top: 1px solid var(--prim-color);
  box-sizing: border-box;
  width: 96px;
  height: 1px;
}
.parent12,
.parent13 {
  position: absolute;
  top: 2957px;
  left: 120px;
  width: 95px;
  height: 17px;
  text-align: left;
  font-size: var(--tajawal-regular-14-size);
}
.parent13 {
  top: 4007px;
}
.b25 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 64px;
  @media screen and (max-width: 992px) {
    line-height: unset;
    font-size: 32px;
  }
}
.frameChild21 {
  width: 311px;
  position: relative;
  height: 17px;
  object-fit: cover;
  @media screen and (max-width: 992px) {
    width: 150px;
    height: 8px;
  }
}

.parent14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.div26 {
  width: 100%;
  position: relative;
  font-size: var(--tajawal-medium-36-size);
  line-height: 48px;
  font-weight: 500;
  color: var(--grey);
  text-align: center;
  display: inline-block;

  @media screen and (max-width: 992px) {
    font-size: var(--tajawal-medium-14-size);
    line-height: 24px;
  }
}
.frameParent22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--tajawal-h1-bold-48-size);
  margin-top: 120px;

  @media screen and (max-width: 992px) {
    font-size: var(--tajawal-medium-20-size);
    margin-top: 64px;
  }
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: 0;
  width: 397px;
  height: 402.1px;
  opacity: 0.8;
  @media screen and (max-width: 992px) {
    width: 112.67px;
    height: 114.12px;
  }
}
.vectorIcon {
  right: -165px;
  @media screen and (max-width: 992px) {
    width: 112.67px;
    height: 114.12px;
    right: -60px;
  }
}
.vectorIcon1 {
  left: -164px;
  @media screen and (max-width: 992px) {
    left: -60px;
  }
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--screen-color);
  // height: 4908px;
  overflow: hidden;
  text-align: right;
  font-size: var(--tajawal-medium-24-size);
  color: var(--prim-color);
  font-family: var(--tajawal-medium-36);

  @media screen and (max-width: 992px) {
    font-size: var(--tajawal-medium-20-size);
  }
}
