@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("/public/fonts/Andalus.ttf");
@font-face {
  font-family: "Andalus";
  src: url("/public/fonts/Andalus.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CustomFont";
  src: url("https://iiacademy.net/assets/fonts/Calibri.ttf") format("truetype");
}

body {
  margin: 0;
  line-height: normal;
  font-family: "Tajawal";
}
section {
  a {
    color: unset !important;
  }
}

[dir="ltr"] {
  font-family: "CustomFont", sans-serif !important;
  font-size: 110%;
  line-height: normal;
}
:root {
  /* fonts */
  --tw-gradient-from: initial !important;
  --main_color: #013e46;
  --h_color: #d69b41;
  --tajawal-medium-36: Tajawal;
  --font-andalus: "__Andalus_4df8e8", "__Andalus_Fallback_4df8e8";

  /* font sizes */
  --tajawal-medium-36-size: 36px;
  --tajawal-h1-bold-16-size: 16px;
  --tajawal-h1-bold-48-size: 48px;
  --tajawal-regular-14-size: 14px;
  --tajawal-medium-24-size: 24px;
  --tajawal-h2-bold-40-size: 40px#;
  --tajawal-medium-20-size: 20px;
  --tajawal-small-8-size: 8px;
  --tajawal-small-12-size: 12px;
  --tajawal-xsmall-5-size: 5.48px;
  --tajawal-h3-bold-32-size: 32px;

  /* Colors */
  --screen-color: #fbf5ec;
  --grey: #979797;
  --prim-color: #013e46;
  --sec-color: #d69b41;
  --white: #fff;
  --third-color: #ffdba6;
  --black: #000;
  --teriery-color: #f7ebd9;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-13xl: 32px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-2xl: 21px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-101xl: 120px;
  --padding-3xs: 10px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-xss: 4px;
  --br-xs: 12px;
  --br-lg: 18px;
  --br-5xs: 8px;

  /* Effects */
  --drop-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  --inner-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2) inset;
}

* {
  // user-select: none !important;
}

html,
body {
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none !important;
}

/* bootstrap */

.container {
  @media screen and (min-width: 1700px) {
    max-width: 1564px !important;
  }
  @media (min-width: 1536px) {
    max-width: 1336px !important;
  }
}

/* swiper */
#hero {
  // .swiper-pagination {
  //   display: none;
  // }
  // .swiper-slide {
  //   margin: 4px;
  // }

  .swiper-slide.swiper-slide-active {
    // width: 41% !important;
  }

  .swiper {
    height: 183px;
    display: flex;
    align-items: center;
  }

  .swiper-wrapper {
    height: unset !important;
  }
  .swiper-slide {
    // width: fit-content;
  }

  .swiper-button-disabled {
    opacity: 0;
  }
}

#introductions {
  .swiper {
    .swiper-pagination {
      display: none;
    }
    .swiper-wrapper {
      width: 100%;
      align-items: center;
    }
  }

  .custom_arrow,
  .custom_arrow1 {
    position: absolute;
    // top: 942px;
    // left: 621px;
    top: 40%;
    left: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .custom_arrow1 {
    right: 0%;
  }
  .custom_arrow {
    transform: scale(-1);
  }
  .swiper-button-disabled {
    opacity: 0;
  }
}

section#sss {
  @media screen and (min-width: 992px) {
    display: none;
  }

  .swiper-pagination-bullet {
    background-color: #979797;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--sec-color);
    width: 12px;
    height: 4px;
    border-radius: 4px;
  }
  .swiper-horizontal {
    min-height: 228px;
  }
  .swiper-pagination {
    // bottom: 20px;\
  }
}

#sections {
  .swiper-slide {
    padding: 0;
    margin: 0;
  }
}

.mobile {
  @media screen and (min-width: 992px) {
    display: none;
  }
}

.desktop {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

// Tw
.flex {
  display: flex;
}

@import "tinymcee.css";
@import "tinymcee2.css";
