section.explore {
  padding-top: 120px;
  @media screen and (max-width: 992px) {
    padding-top: 52px;
  }

  .sec_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }

    .boxes_container {
      display: flex;
      align-items: flex-start;
      gap: var(--gap-5xl);

      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    .boxes_container:first-child {
      margin-top: 24px;
      // width: 100%;
    }
  }
  .boxes_container_mobile {
    margin-top: 24px;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}
